//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 31 01:04:37 2022
//! **************************************************************************

SCHEMATIC START;
TIMEGRP clk = BEL "cout" BEL "sum_0" BEL "sum_1" BEL "sum_2" BEL "sum_3" BEL
        "sum_4" BEL "sum_5" BEL "sum_6" BEL "sum_7" BEL "sum_8" BEL "sum_9"
        BEL "sum_10" BEL "sum_11" BEL "sum_12" BEL "sum_13" BEL "sum_14" BEL
        "sum_15" BEL "sum_16" BEL "sum_17" BEL "sum_18" BEL "sum_19" BEL
        "sum_20" BEL "sum_21" BEL "sum_22" BEL "sum_23" BEL "sum_24" BEL
        "sum_25" BEL "sum_26" BEL "sum_27" BEL "sum_28" BEL "sum_29" BEL
        "sum_30" BEL "sum_31" BEL "sum_32" BEL "sum_33" BEL "sum_34" BEL
        "sum_35" BEL "sum_36" BEL "sum_37" BEL "sum_38" BEL "sum_39" BEL
        "sum_40" BEL "sum_41" BEL "sum_42" BEL "sum_43" BEL "sum_44" BEL
        "sum_45" BEL "sum_46" BEL "sum_47" BEL "sum_48" BEL "sum_49" BEL
        "sum_50" BEL "sum_51" BEL "sum_52" BEL "sum_53" BEL "sum_54" BEL
        "sum_55" BEL "sum_56" BEL "sum_57" BEL "sum_58" BEL "sum_59" BEL
        "sum_60" BEL "sum_61" BEL "sum_62" BEL "sum_63" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 2.2 ns HIGH 50%;
SCHEMATIC END;

